main {
  display: flex;
  flex-wrap: wrap;
  width:94%;
  margin: auto;
  @include responsive(tablet){
    width: 94%;
  }
}

a.menu-link {
  float: right; //right based
  display: block;
  padding: 1em;
  text-decoration:none;
  color:$primaryText;
  &:hover,
  &:focus {
    color:$primaryColor;
  }
  &:active {
    background-color:$accentColor;
    color:$white;
  }
}

.wrap {
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  &.active {
    right: 16em; 
  }
}

/*Posts*/
.post-container,
  article {
    display: block;
  }

@include responsive(phablet){
  a.menu-link {
    display: none;
  }
  .wrap.active {
    right: 0; 
  }

  /*Posts*/
  .post-container {
    display: table;
    display: flex;
    flex-wrap: wrap;
    article {
       flex: 2 0 300px;
       margin: 0px 20px 20px 0px;
       border: 1px solid $dividerColor;
       border-radius: 0px 40px 0px 40px;
       padding: 20px;
       box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
   }
}

@include responsive(laptop){
  .post-container {
    article {
      flex: 1;
    }
  }
}



