button {
    background-color: $primaryColor;
    color: $white;
    padding: 8px 16px;
    border: 2px solid $darkPrimaryColor;
    border-radius: 8px;
    &:hover,
    &:focus {
        background-color: $white;
        border: 2px solid $primaryColor;
        cursor: pointer;
        color: $primaryColor;
    }
    margin: 20px 0px;
}

label {
    display: block;
    margin: 1em 1em 1em 0;
}

select {
    display: block;
    height: 34px;
    width: 100%;
}

@include responsive(phablet){
    label,
    select {
        display: inline;
        max-width: 280px;
    }
}